.blinking {
    animation: blink 1s infinite ease-in-out;
    font-weight: bold;
}

.roundBorder {
    border: double 1px transparent;
    background-image: linear-gradient(#0a192f, #0a192f), linear-gradient(to bottom right, #378f87, #B04828);
    background-clip: padding-box, border-box;
    background-origin: border-box;
}

.roundBorder:hover {
    border: double 1px transparent;
    background-image: linear-gradient(#0a192f, black), linear-gradient(to bottom right, #378f87, #B04828);
}

.navbar:hover::before {
    content: '';
    width: 0;
    height: 6px;
    display: block;
    border: 1px;
    border-top: 16px;
    background-color: #B04828;
    position: absolute;
    left: 0;
    top: 0;
    animation: slideRight 1.5s 350ms forwards ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 20%;
    }
}

@keyframes slideRight {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}