.blinking {
    animation: blink 1s infinite ease-in-out;
    color: black;
    font-weight: bold;
    font-size: large;
}

.navbar:hover::before {
    content: '';
    width: 0%;
    height: 6px;
    display: block;
    border: 1px;
    border-top: 16px;
    background-color: #B04828;
    position: absolute;
    left: 0;
    top: 0;
    animation: slideRight 1.5s 750ms alternate infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 20%;
    }
}

@keyframes slideRight {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}